﻿.search-line {
    display: flex;
    align-items: center;
}

.search-line select {
    margin-right: 10px;
    width: 200px;
}

.search-line input {
    width: 200px;
}

.pagination {
    display: flex;
    margin: 10px 0;
}

    .pagination a {
        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #ddd;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #eee;
        }