﻿@{
    ViewData["Title"] = "Courier Page";
}

<head>
    <link rel="stylesheet" href="~/css/CourierList/Index.css">
</head>

<body>
    <div class="courier-Search-Bar">
        <div class="search-line">
            <select id="search-by" onchange="handleChoiceChange()">
                <option value="ConsignmentNumber">Consignment Number</option>
                <option value="Status">Status</option>
            </select>
            <input type="search" id="courier-search" placeholder="Search" onkeypress="handleSearch(event)">
            <br /><br />
            <div class="pagination">
                <a class="page-link" id="page-previous-one-sign" onclick="handlePage(-1)" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="page-link" id="page-previous-one" onclick="handlePage(-1)"></a>
                <a class="page-link" id="page-previous-two" onclick="handlePage(-1)"></a>
                <a class="page-link" id="page-next-one" onclick="handlePage(1)"></a>
                <a class="page-link" id="page-next-two" onclick="handlePage(2)"></a>
                <a class="page-link" id="page-next-one-sign" onclick="handlePage(1)" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Consignment Number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="courierList-table-body">
            </tbody>
        </table>
    </div>

    <script src="~/js/CourierList/Index.js"></script>
</body>