@model ParcelPortal.Models.Courier

@{
    ViewData["Title"] = "Courier Page";
}

<head>
    <link rel="stylesheet" href="~/css/Courier/Index.css">
</head>

<h2>Create New Courier</h2>
<br />


<body>
    <form id="courierForm" asp-action="Index">
        <h4>Sender Info</h4>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>Name</label>
                <input type="text" class="form-control" placeholder="Name" asp-for="SenderName">
                <span asp-validation-for="SenderName" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label>Phone</label>
                <input type="text" class="form-control" placeholder="Phone" asp-for="SenderPhone">
                <span asp-validation-for="SenderPhone" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label>Sender Branch</label>
                <input type="text" class="form-control" placeholder="Branch" asp-for="SenderBranch">
                <span asp-validation-for="SenderBranch" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Email</label>
                <input type="text" class="form-control" placeholder="Email" asp-for="SenderEmail">
                <span asp-validation-for="SenderEmail" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label>Address</label>
                <input type="text" class="form-control" placeholder="Address" asp-for="SenderAddress">
                <span asp-validation-for="SenderAddress" class="text-danger"></span>
            </div>
        </div>

        <h4>Recevier Info</h4>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label>Name</label>
                <input type="text" name="RecevierName" class="form-control" placeholder="Name" asp-for="RecevierName">
                <span asp-validation-for="RecevierName" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label>Phone</label>
                <input type="text" name="RecevierPhone" class="form-control" placeholder="Phone" asp-for="RecevierPhone">
                <span asp-validation-for="RecevierPhone" class="text-danger"></span>
            </div>
            <div class="col-md-4 mb-3">
                <label>Recevier Branch</label>
                <input type="text" name="ReceiverBranch" class="form-control" placeholder="Branch" asp-for="ReceiverBranch">
                <span asp-validation-for="ReceiverBranch" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Email</label>
                <input type="text" name="RecevierEmail" class="form-control" placeholder="Email" asp-for="RecevierEmail">
                <span asp-validation-for="RecevierEmail" class="text-danger"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label>Address</label>
                <input type="text" name="RecevierAddress" class="form-control" placeholder="Address" asp-for="RecevierAddress">
                <span asp-validation-for="RecevierAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3 mb-3">
                <label>Quantity</label>
                <input type="number" name="ProductQuantity" class="form-control" placeholder="Quantity" asp-for="ProductQuantity">
                <span asp-validation-for="ProductQuantity" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-3">
                <label id="productPrice"></label>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-9 mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</body>